<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, yunho All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the yunho.io developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: yunho
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.workinfo.mapper.ApiDataScriptInfoMapper">

  <resultMap id="apiDataScriptInfoMap" type="com.inspur.workinfo.entity.ApiDataScriptInfo">
                  <id property="id" column="ID"/>
                        <result property="ruleName" column="RULE_NAME"/>
                        <result property="ruleCode" column="RULE_CODE"/>
                        <result property="ruleParam" column="RULE_PARAM"/>
                        <result property="ruleType" column="RULE_TYPE"/>
                        <result property="regionCode" column="REGION_CODE"/>
                        <result property="regionName" column="REGION_NAME"/>
                        <result property="orgCode" column="ORG_CODE"/>
                        <result property="orgName" column="ORG_NAME"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="modifyTime" column="MODIFY_TIME"/>
                        <result property="creator" column="CREATOR"/>
                        <result property="remark" column="REMARK"/>
                        <result property="status" column="STATUS"/>
                        <result property="ruleScript" column="RULE_SCRIPT"/>
            </resultMap>
</mapper>
