<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, yunho All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the yunho.io developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: yunho
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.workinfo.mapper.ApiServiceCatalogMapper">

  <resultMap id="apiServiceCatalogMap" type="com.inspur.workinfo.entity.ApiServiceCatalog">
                  <id property="id" column="ID"/>
                        <result property="name" column="NAME"/>
                        <result property="serviceId" column="SERVICE_ID"/>
                        <result property="method" column="METHOD"/>
                        <result property="url" column="URL"/>
                        <result property="version" column="VERSION"/>
                        <result property="type" column="TYPE"/>
                        <result property="inputId" column="INPUT_ID"/>
                        <result property="outputId" column="OUTPUT_ID"/>
                        <result property="resultType" column="RESULT_TYPE"/>
                        <result property="requestType" column="REQUEST_TYPE"/>
                        <result property="creator" column="CREATOR"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="modifyTime" column="MODIFY_TIME"/>
                        <result property="publishTime" column="PUBLISH_TIME"/>
                        <result property="remark" column="REMARK"/>
                        <result property="status" column="STATUS"/>
                        <result property="callTimes" column="CALL_TIMES"/>
                        <result property="returnMode" column="RETURN_MODE"/>
                        <result property="ableApplied" column="ABLE_APPLIED"/>
                        <result property="checkState" column="CHECK_STATE"/>
                        <result property="originalUrl" column="ORIGINAL_URL"/>
                        <result property="requestMode" column="REQUEST_MODE"/>
                        <result property="isInternet" column="IS_INTERNET"/>
                        <result property="isNeedCache" column="IS_NEED_CACHE"/>
            </resultMap>
</mapper>
