<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2019-2025, jason All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the yunho.top developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: jason (jj@163.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.workinfo.mapper.EaJcStepBasicinfoMapper">

  <resultMap id="eaJcStepBasicinfoMap" type="com.inspur.workinfo.entity.EaJcStepBasicinfo">
                  <id property="orgbusno" column="ORGBUSNO"/>
                        <result property="projid" column="PROJID"/>
                        <result property="projpwd" column="PROJPWD"/>
                        <result property="dataver" column="DATAVER"/>
                        <result property="regionId" column="REGION_ID"/>
                        <result property="itemCode" column="ITEM_CODE"/>
                        <result property="implementCode" column="IMPLEMENT_CODE"/>
                        <result property="itemregionid" column="ITEMREGIONID"/>
                        <result property="itemname" column="ITEMNAME"/>
                        <result property="subitemname" column="SUBITEMNAME"/>
                        <result property="projectname" column="PROJECTNAME"/>
                        <result property="applicant" column="APPLICANT"/>
                        <result property="applicantmobile" column="APPLICANTMOBILE"/>
                        <result property="applicanttel" column="APPLICANTTEL"/>
                        <result property="applicantemail" column="APPLICANTEMAIL"/>
                        <result property="acceptdeptname" column="ACCEPTDEPTNAME"/>
                        <result property="acceptdeptid" column="ACCEPTDEPTID"/>
                        <result property="acceptdeptcode1" column="ACCEPTDEPTCODE1"/>
                        <result property="acceptdeptcode2" column="ACCEPTDEPTCODE2"/>
                        <result property="approvaltype" column="APPROVALTYPE"/>
                        <result property="promisetimelimit" column="PROMISETIMELIMIT"/>
                        <result property="promisetimeunit" column="PROMISETIMEUNIT"/>
                        <result property="timelimit" column="TIMELIMIT"/>
                        <result property="timeunit" column="TIMEUNIT"/>
                        <result property="submit" column="SUBMIT"/>
                        <result property="occurtime" column="OCCURTIME"/>
                        <result property="transactor" column="TRANSACTOR"/>
                        <result property="projectCode" column="PROJECT_CODE"/>
                        <result property="maketime" column="MAKETIME"/>
                        <result property="sysmark" column="SYSMARK"/>
                        <result property="acceptlist" column="ACCEPTLIST"/>
                        <result property="cdOperation" column="CD_OPERATION"/>
                        <result property="taskhandleitem" column="TASKHANDLEITEM"/>
                        <result property="coucatalogcode" column="COUCATALOGCODE"/>
                        <result property="coutaskcode" column="COUTASKCODE"/>
                        <result property="applyertype" column="APPLYERTYPE"/>
                        <result property="acceptdocno" column="ACCEPTDOCNO"/>
                        <result property="promisedate" column="PROMISEDATE"/>
                        <result property="sourceid" column="SOURCEID"/>
            </resultMap>

      <select id="itemCount" resultType="java.lang.Integer">
            SELECT
            count(ITEMNAME)
            FROM
            ea_jc_step_basicinfo t WHERE 1=1
            <if test="otime != null">
                  AND t.occurtime >= #{otime}
            </if>
      </select>
</mapper>
