<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2019-2025, jason All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the yunho.top developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: jason (jj@163.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.workinfo.mapper.EaJcStepProcMapper">

  <resultMap id="eaJcStepProcMap" type="com.inspur.workinfo.entity.EaJcStepProc">
                  <id property="orgbusno" column="ORGBUSNO"/>
                        <result property="projid" column="PROJID"/>
                        <result property="projectCode" column="PROJECT_CODE"/>
                        <result property="itemregionid" column="ITEMREGIONID"/>
                        <result property="dataver" column="DATAVER"/>
                        <result property="sn" column="SN"/>
                        <result property="nodename" column="NODENAME"/>
                        <result property="nodecode" column="NODECODE"/>
                        <result property="nodetype" column="NODETYPE"/>
                        <result property="nodeprocer" column="NODEPROCER"/>
                        <result property="nodeprocername" column="NODEPROCERNAME"/>
                        <result property="nodeprocerarea" column="NODEPROCERAREA"/>
                        <result property="regionId" column="REGION_ID"/>
                        <result property="procunit" column="PROCUNIT"/>
                        <result property="procunitname" column="PROCUNITNAME"/>
                        <result property="nodestate" column="NODESTATE"/>
                        <result property="nodestarttime" column="NODESTARTTIME"/>
                        <result property="nodeendtime" column="NODEENDTIME"/>
                        <result property="nodeadv" column="NODEADV"/>
                        <result property="timelimit" column="TIMELIMIT"/>
                        <result property="promisetimeunit" column="PROMISETIMEUNIT"/>
                        <result property="noderesult" column="NODERESULT"/>
                        <result property="occurtime" column="OCCURTIME"/>
                        <result property="maketime" column="MAKETIME"/>
                        <result property="sysmark" column="SYSMARK"/>
                        <result property="cdOperation" column="CD_OPERATION"/>
                        <result property="eventname" column="EVENTNAME"/>
            </resultMap>
</mapper>
