<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, yunho All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the yunho.io developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: yunho
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.workinfo.mapper.XtApproveItemflowConfigMapper">

  <resultMap id="xtApproveItemflowConfigMap" type="com.inspur.workinfo.entity.XtApproveItemflowConfig">
                  <id property="seqId" column="SEQ_ID"/>
                        <result property="sxbm" column="SXBM"/>
                        <result property="nodeName" column="NODE_NAME"/>
                        <result property="parentId" column="PARENT_ID"/>
                        <result property="nodeCode" column="NODE_CODE"/>
                        <result property="exchangeType" column="EXCHANGE_TYPE"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="apiId" column="API_ID"/>
                        <result property="tableId" column="TABLE_ID"/>
                        <result property="condition" column="CONDITION"/>
                        <result property="childValue" column="CHILD_VALUE"/>
                        <result property="sorter" column="SORTER"/>
  </resultMap>
</mapper>
