<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, yunho All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the yunho.io developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: yunho
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.workinfo.mapper.XtApproveBusinessBaseMapper">

  <resultMap id="xtApproveBusinessBaseMap" type="com.inspur.workinfo.entity.XtApproveBusinessBase">
                  <id property="seqId" column="SEQ_ID"/>
                        <result property="sblshShort" column="SBLSH_SHORT"/>
                        <result property="sxbm" column="SXBM"/>
                        <result property="sxmc" column="SXMC"/>
                        <result property="sxqxbm" column="SXQXBM"/>
                        <result property="xzqhdm" column="XZQHDM"/>
                        <result property="bmmc" column="BMMC"/>
                        <result property="bmzzjgdm" column="BMZZJGDM"/>
                        <result property="ywly" column="YWLY"/>
                        <result property="sbsj" column="SBSJ"/>
                        <result property="serviceObj" column="SERVICE_OBJ"/>
                        <result property="grIdcardno" column="GR_IDCARDNO"/>
                        <result property="grIdentitytype" column="GR_IDENTITYTYPE"/>
                        <result property="grLinkphone" column="GR_LINKPHONE"/>
                        <result property="grName" column="GR_NAME"/>
                        <result property="qyOrgName" column="QY_ORG_NAME"/>
                        <result property="qyOrgCode" column="QY_ORG_CODE"/>
                        <result property="qyHandlerName" column="QY_HANDLER_NAME"/>
                        <result property="qyHandlerPhone" column="QY_HANDLER_PHONE"/>
                        <result property="qyHandlerIdtype" column="QY_HANDLER_IDTYPE"/>
                        <result property="qyHandlerId" column="QY_HANDLER_ID"/>
                        <result property="remark" column="REMARK"/>
                        <result property="createTime" column="CREATE_TIME"/>
            </resultMap>
</mapper>
