# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\K\Project\inspur-workinfo-cremation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
